*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 200px;
 display: block;
 background-color: blanchedalmond;
}
main{
    width: 100%;
    height: 900px;
    display: block;
    background-color: cadetblue;

}
footer{
    width: 100%;
    height: 900px;
    display: block;
    background-color:rgb(129, 59, 33);
}