*{
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none;
}



/*-------------HEADER--------------*/

header{
    background-color: pink;
}

.txtNome{
    background-color: aqua;
    display: block;
    margin: 5vh;
}

.card{
    text-align: center;
}

.botao{
    margin: 5vh;
}

.container{
    text-align: center;
}